/* body */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6e6b6b;
}

/* header */

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* nav ul */

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* nav li */

nav li {
  margin-right: 20px;
}

/* nav a  */

nav a {
  color: #fff;
  text-decoration: none;
}

/* product  */

.products {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

/* product  */

.product {
  background-color: #d6d3d3;
  border: 5px solid #000000;
  padding: 20px;
  text-align: center;
  width: 46%;
  text-align: start;
}


/* product img */

.product img {
  max-width: 100%;
}

/* product h3  */

.product h3 {
  margin-top: 0;
}

/* product p */

.product p {

  color: #777;
  font-size: 16px;

}

/* product button */

.product button {

  background-color: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
  border-radius: 10px;

}

/* product button hover */

.product button:hover {
  background-color: #555;

}



footer {
  background-color: #000000;
  color: #fff;
  height: 150px;

}